[python: CTFd/**/*.py]
keywords = _ _l gettext ngettext ugettext ungettext dgettext dngettext N_ pgettext npgettext
[jinja2: CTFd/themes/core/templates/**.html]
[jinja2: CTFd/themes/admin/templates/**.html]
[jinja2: CTFd/themes/core-deprecated/templates/**.html]
