[python: CTFd/**/*.py]
[jinja2: CTFd/themes/core/templates/**.html]
[jinja2: CTFd/themes/admin/templates/**.html]
[javascript: CTFd/themes/core/assets/js/**.js]
[javascript: CTFd/themes/admin/assets/js/**.js]
