<form>
  <div class="form-group">
    <label>{{ _("Challenge Window Size") }}</label>
    <select class="form-control custom-select" name="challenge_window_size">
        <option value="sm">{{ _("Small") }}</option>
        <option value="norm">{{ _("Normal") }}</option>
        <option value="lg">{{ _("Large") }}</option>
        <option value="xl">{{ _("Extra Large") }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary float-right">{{ _("Update") }}</button>
</form>